<div class="header-content">
    <h1>{{singleAttraction.name}}</h1>
    <p></p>
</div>

{{!-- <title>{{title}}</title> --}}

<p>{{singleAttraction}}</p>
<img src="data:image/jpg;base64,{{singleAttraction.photo}}" />
<p>Reviews: {{singleAttraction.reviews}}</p>

<p>Rating: {{singleAttraction.rating}}</p>
<p>Price: {{singleAttraction.price}}</p>

{{!-- TODO Display map here --}}
{{!-- <p>Location: {{singleAttractions}}</p> --}}
<div id="map"></div>

<button id="get-review-form-button">Add a review!</button>


{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap" async
    defer></script> --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/attractions.js"></script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJMl9OVi9dnmi-Rnp1zqrwZUSS6YV56t8"></script>
<script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>