<div class="header-content">
    <h1>{{singleAttraction.name}}</h1>
    <p></p>
</div>

{{!-- <title>{{title}}</title> --}}

<p>{{singleAttraction}}</p>
<img src="data:image/jpg;base64,{{singleAttraction.photo}}" />
<p>Reviews: {{singleAttraction.reviews}}</p>

<p>Rating: {{singleAttraction.rating}}</p>
<p>Price: {{singleAttraction.price}}</p>

<p>Location: {{singleAttraction.location}}</p>

<button id="get-review-form-button">Add a review!</button>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/attractions.js"></script>