<p> Get detailed info about the attraction here: </p>
<title>{{title}}</title>
<p>{{singleAttraction}}</p>
<p>Name: {{singleAttraction.name}}</p>
<p>Reviews: {{singleAttraction.reviews}}</p>
<img src="data:image/jpg;base64,{{singleAttraction.photo}}" />
<p>Rating: {{singleAttraction.rating}}</p>
<p>Price: {{singleAttraction.price}}</p>

<p>Location: {{singleAttraction.location}}</p>

<button id="get-review-form-button">Add a review!</button>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/attractions.js"></script>