
<div class="header-content">
    <h1>{{singleAttraction.name}}</h1>
</div>

<div class="container text-center" style="margin: 30px ;">
    <div class="row">
        <div class="col">
            <img src="data:image/jpg;base64,{{singleAttraction.photo}}" height="300"/>
        </div>
        <div class="col">
            <p class="text-center font-weight-bold">Reviews:</p>
            {{#each reviewList}}
            <p>{{this.review}}</p>
            {{/each}}  
            <p class="text-center font-weight-bold">Rating: {{singleAttraction.rating}}</p>
            <p class="text-center font-weight-bold">Price: {{singleAttraction.price}}</p>
            <button id="get-review-form-button" class="btn btn-primary btn-lg btn-block">Add a review!</button>
        </div>
    </div>
</div>
{{!-- TODO Display map here --}}
{{!-- 
<p>Location: {{singleAttractions}}</p>
--}}
<div class="container">
    <div id="map"></div>
</div>
<script src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap" async defer></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/attractions.js"></script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJMl9OVi9dnmi-Rnp1zqrwZUSS6YV56t8"></script>
<script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>