<p> Get detailed info about the attraction here: </p>
<title>{{title}}</title>
<p>Name: {{singleAttraction.name}}</p>
<p>Reviews:</p>
      {{#each reviewList}}
                   <p>{{this.review}}</p>   
                {{/each}} 
<div style="text-align:center;"><img src="data:image/jpg;base64,{{singleAttraction.photo}}" height="300" width="400"/></div>
<p>Rating: {{singleAttraction.rating}}</p>
<p>Price: {{singleAttraction.price}}</p>

{{!-- TODO Display map here --}}
{{!-- <p>Location: {{singleAttractions}}</p> --}}
<div id="map"></div>

<button id="get-review-form-button">Add a review!</button>


<script src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap" async defer></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/attractions.js"></script>