<h1>{{list1.name}}</h1>

<select id="filter">
  <option value="all">All</option>
  <option value="names">Names</option>
  <option value="price">Price less than 25 </option>
  <option value="rating">Rating</option>
</select>


<div class="content">
      {{#each list2}}
      <li><a id="nameli" href="/attractions/{{this._id}}">{{this.name}}</a></li>
       <li id="priceli">{{this.price}}</li>
       <li id="ratingli">{{this.rating}}</li>
       <br>
      {{/each}}
</div>

<div class="content2">
  <ul id="results"></ul>
</div>


<script id="cities" type="application/json">
{{list2}}
</script>
<script src="../public/main.js"></script>
