<h1>{{list1.name}}</h1>

<select id="filter">
  <option value="all">All</option>
  <option value="names">Names</option>
  <option value="$">$</option>
   <option value="$$">$$ </option>
    <option value="$$$">$$$ </option>
    <option value="tags">Indoor Activity </option>
     <option value="tags2">Outdoor Activity </option>
</select>

<select id="sort">
  <option value="A-Z">Sort A-Z</option>
  <option value="Z-A">Sort Z-A</option>
  <option value="rating">Sort by Rating</option>
</select>


<div class="content">
      {{#each list2}}
      <li><a id="a"  class="nameli" href="/attractions/{{this._id}}">{{this.name}}</a></li>
       <li class="priceli">{{this.price}}</li>
       <li class="ratingli">{{this.rating}}</li>
       <li class="tagli">{{this.tags}}</li>
       <br>
      {{/each}}
</div>

<div class="content2">
  <ul id="results"></ul>
</div>



{{!-- <script src="../public/main.js"></script> --}}
<script src="/public/main.js"></script>
