<h1>{{list1.name}}</h1>

<select id="filter">
  <option value="all">All</option>
  <option value="names">Names</option>
  <option value="$">$</option>
   <option value="$$">$$ </option>
    <option value="$$$">$$$ </option>
</select>


<div class="content">
      {{#each list2}}
      <li><a class="nameli" href="/attractions/{{this._id}}">{{this.name}}</a></li>
       <li class="priceli">{{this.price}}</li>
       <li class="ratingli">{{this.rating}}</li>
       <br>
      {{/each}}
</div>

<div class="content2">
  <ul id="results"></ul>
</div>



<script src="../public/main.js"></script>
