<main>
    <div style="width: 100%; margin-top:30px; margin-bottom:80px;">
        <h2 class="text-center" style="font-size: 200%; margin-top:20px;"><b>Popular Cities</b></h2>
        <div class="divider div-transparent"></div>
        <div class=" row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#each cities}}
                <div class="col-sm" style="max-width: 300px;">
                    <div class="card p-cities">
                        <div class="card-body text-center shadow">
                            <h3 class="card-title" style="background: aliceblue;">{{this.name}}</h3>
                            <p class="card-text" style="margin-bottom: 30px;">State: {{this.state}} </p>
                            <a href="/cities/{{this._id}}" class="btn btn-primary">Visit City</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div style="width: 100%;margin-top:30px; margin-bottom:80px;">
        <h2 class="text-center" style="font-size: 200%; margin-top:20px;"><b>Popular Attractions</b></h2>
        <div class="divider div-transparent"></div>
        <div class=" row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#each attractions}}
                <div class="col-sm" style="max-width: 300px;">
                    <div class="card p-cities" style="min-height: 100%;">
                        <div class="card-body text-center shadow">
                            <h3 class="card-title" style="background: aliceblue;">{{this.name}}</h3>
                            <p class="card-text" style="margin-bottom: 30px;">Rating: {{this.rating}} </p>
                            <a href="/attractions/{{this._id}}" class="btn btn-primary">View Attraction</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


</main>
{{!-- {{#if userName}}
<p>User logged in {{userName}}</p>
{{/if}}
<div class="row">
<div class="col-lg-4">
<div class="card mb-4">
<div class="card-body text-center">
<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
    class="rounded-circle img-fluid" style="width: 150px;">
<h5 class="my-3">user Profile</h5>
</div>
</div>
<a href="/login">Login</a>
</div>
</div>
</div> --}}