<h2>SEARCHING FOR SOMETHING?</h2>
<p>{{error}}</p>
<form method="POST" action="#" id="search-form">
    <label for="searchInput"> Enter to Search Something: </label>
    <input type="text" name="searchInput" id="searchInput" size="50">
    <br>

    <button id="submit" type="submit">Submit</button>
</form>

<div class="cityContent">
    {{#if list1}}
        <h2>Cities</h2>
        {{#each list1}}
            <li><a href="/cities/{{this._id}}">{{this.name}}</a></li>
            <p>{{this.state}}</p>
            <p>{{this.country}}</p>
            <p>{{this.num_attractions}}</p>
            <br>
        {{/each}}
    {{else}}
    {{/if}}
</div>

<div class="attrContent">
    {{#if list2}}
        <h2>Attractions</h2>
        {{#each list2}}
            <li><a href="/attractions/{{this._id}}">{{this.name}}</a></li>
            <p>{{this.rating}}</p>
            <p>{{this.price}}</p>
            <br>
        {{/each}}
    {{else}}
    {{/if}}
</div>

<div>
    <p><a href="/cities/addCity">Add City</a></p>
    <p><a href="/attractions">Add Attraction</a></p>
</div>