<title>{{title}}</title>

<div class="header">
    <h1>{{user.name}}'s Profile Page</h1>
</div>
<div class="container border" style="padding: 0px;">
    <div class="container"  style="padding: 0px;">
        <div class="row">
            <div class="col" style="padding-top: 30px; background-color:rgb(242, 242, 242)">
                <p class="text-center">Username: {{user.username}}</p>
            </div>
            <div class="col" style="padding-top: 30px; background-color:rgb(232, 232, 232)">
                <p class="text-center">Email: {{user.email}}</p>
            </div>
            <div class="col" style="padding-top: 30px; background-color:rgb(222, 222, 222)">

                <p class="text-center" >Age: {{user.age}}</p>
            </div>
        </div>
    </div>



     <!-- Tabbed interface -->
        <div class="tabbed-content" style="margin-top: 20px;">
            <!-- Tab list -->
            <ul class="tab-list">
                <li class="active" data-tab="comments">Comments</li>
                <li data-tab="reviews">Reviews</li>
                <li data-tab="posts">Posts</li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content" id="comments">
                <!-- Display the user's comments here -->
                 <h5 class=" header-user text-center">Comments added by you:</h5>
                    {{#each displayComments}}
                   <p class="text-center font-weight-bold" style="padding: 0px 30px;">{{this.commentorId}}</p>  
                   <hr class="user"> 
                {{/each}} 
            </div>
            <div class="tab-content" id="reviews">
                <!-- Display the user's reviews here -->
                 <h5 class=" header-user text-center">Reviews added by you:</h5>
                  {{#each displayReviews}}
                   <p class="text-center font-weight-bold" style="padding: 0px 30px;">{{this.review}}</p>   
                   <hr class="user"> 
                {{/each}} 
            </div>
          <div class="tab-content" id="posts">
            <h5 class=" header-user text-center">Attractions added by you:</h5>
       
                {{#each displayAttractions}}
                   <p class="text-center font-weight-bold" style="padding: 0px 30px;">{{this.name}}</p>   
                   <hr class="user"> 
                {{/each}} 
            </div>
        </div>
</div>
          <style>
            /* Styles for the tabbed interface */
            .tabbed-content {
                display: flex;
                flex-direction: column;
            }

            .tabbed-content>div {
                display: none;
                /* Hide all tab content by default */
            }

            .tabbed-content>div:first-child {
                display: block;
                /* Show the first tab content by default */
            }

            .tab-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .tab-list li {
                flex: 1;
                text-align: center;
                border: 1px solid #ccc;
                border-bottom: 0;
                background-color: #f1f1f1;
                cursor: pointer;
            }

            .tab-list li.active {
                background-color: #ddd;
            }
        </style>

        <script>
            // JavaScript to handle tab switching
            const tabList = document.querySelector('.tab-list');
            const tabContent = document.querySelectorAll('.tab-content');

            tabList.addEventListener('click', (event) => {
                // Get the clicked tab
                const clickedTab = event.target;

                // Make sure the clicked element is a tab
                    if (clickedTab.tagName === 'LI') {
                    // Remove the active class from all tabs
                    tabList.querySelectorAll('li').forEach((tab) => {
                        tab.classList.remove('active');
                    });

                    // Add the active class to the clicked tab
                    clickedTab.classList.add('active');

                    // Hide all tab content
                    tabContent.forEach((content) => {
                        content.style.display = 'none';
                    });

                    // Show the tab content for the clicked tab
                    document.getElementById(clickedTab.dataset.tab).style.display = 'block';
                }
            });
        </script>
 